* {
	border: 0; 
	padding: 0;
	margin: 0;
}
main {
	.wrapper {
		margin: 0 auto;
		max-width: 500px;
		border-left: thin solid black;
		border-right: thin solid black;
	}
	.click {
		width: 10%;
		height: 20px;
		background-color: cadetblue;
		border-radius: 2rem;
	}
	select {
		display: block;
		margin: 0 auto;
	}
	input[type="button"] {
		background-color: cadetblue;
		padding: 1em 3em;
		color: white;
		display: block;
		border-radius: 2em;
		margin:  0 auto;
		cursor: pointer;
	}
}
.animation {
	animation-name: click;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes click {
	50% {
		transform: translateX(calc(500px - 100%));
	}
}